body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    --main_color: #242424;
    --active_color: #F92C47;
    --bg_color: #F2F2F2;
    color: var(--main_color);
}

a {
    cursor: pointer;
}

.button {
    display: inline-block;
    color: white;
    background-color: var(--main_color);
    padding: 15px 30px;
    border: 3px solid --main_color;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all ease-in;
}

.button:hover {
    color: var(--main_color);
    background-color: white;
}

/* header */

.header__bottom {
    background-color: var(--active_color);
    max-height: 100vh;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo-img {
    max-height: 61px;
}

.nav__items {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;

}

.nav__item+.nav__item {
    padding-left: 30px;
}

.nav__item-link {
    padding-bottom: 3px;
    border-bottom: 4px solid transparent;
    transition: all 0.2s ease-in;
}

.nav__item-link:hover {
    color: var(--active_color);
    border-bottom: 4px solid var(--active_color);
}


/* botom iner */
.header__logo-img {
    max-width: 591px;
    margin-bottom: 55px;
}

.header__bottom-inner {
    padding: 210px 0 213px 0;
    position: relative;
}

.header__img {
    max-width: 841px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.header__bottom-h1 {
    max-width: 592px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 115%;
    margin-bottom: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

/* what is */
.what__wrapper-top {
    display: block;
    background-color: var(--main_color);
    min-height: 205px;
}

.what__wraper-content {
    padding-bottom: 85px;
}

.what__top-h {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem;
    color: white;
    padding-top: 65px;
}

.what__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.what__item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.what__text {
    max-width: 500px;
    font-weight: 400;
    line-height: 1.875rem;
}

.what__we-ico {
    width: 105px;
    height: 105px;
    padding-top: 110px;
    margin-bottom: 65px;
}

.what__mis-ico {
    width: 129px;
    height: 105px;


}

.what__text {
    padding: 1rem;
}

.what__line {
    position: absolute;
    left: 50%;
    width: 4px;
    height: 180px;
    background-color: var(--active_color);
    bottom: 15px;
}

/* Produrct */

.product {
    background-color: var(--bg_color);
}


.product__card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product__h {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    padding: 105px 0 60px 0;
}


.product__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 80px;
}

.product__card {
    box-sizing: border-box;
    width: 295px;
    height: 315px;
    padding: 11px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(82, 80, 80, 0.15);
    border-radius: 10px;
}

.product__card:nth-child(5) {
    margin-left: 156px;
}

.product__card:last-child {
    margin-right: 155px;
}


.product__card-img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.product__card-text {
    width: 270px;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: center;
}

.product__demo-h {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    margin-bottom: 40px;
}

.product__btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    gap: 200px;
}

/* coming */
.coming__block {
    background-color: var(--active_color);
    padding: 60px 0 105px 0;
}

.coming__text {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 60px;
}

.coming__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.coming__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coming__item-ico {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.coming__item-text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

/* pricing */

.pricing__block {
    padding: 60px 0;
}

.pricing__h {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 30px;
}


.pricing__text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    margin-bottom: 30px;
}


.pricing__text-left {
    display: block;
}

.pricing__text-h {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-transform: uppercase;
    padding-left: 140px;
    margin-bottom: 30px;

}

.pricing__text-h span {
    color: var(--active_color);
    margin-left: 15px;
}

.pricing__text-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 50px;

}

.pricing__items {
    margin-right: 250px;
    margin-left: 165px;

}

.pricing__item {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    position: relative;
    padding-left: 35px;


}

.pricing__item::before {
    content: '';
    background-image: url(../img/ico/star.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 5px;
    left:0px;
    height: 20px;
    width: 20px;
    z-index: 1;
}







.pricing__subtext {
    max-width: 350px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    margin-bottom: 20px;
}

.pricing__text-right {
    font-weight: 400;
    max-width: 350px;
}

.pricing__botom-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.pricing__price {
    display: inline-block;
    padding-top: 10px;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-transform: uppercase;
    border-top: 6px solid var(--active_color);
    margin-right: 190px;
    margin-left: 330px;   
}

/* partner */
.partner__block {
    padding:120px 0;
    background-color: var(--bg_color);
}

.partner__text-h {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 30px;
}

.partner__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 20px;
}


.partner__text +.partner__text{
    margin-bottom: 60px;
}

/* footer */
.footer__block {
    background-color: var(--main_color);
    padding: 60px 0;

}

.footer__text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    color: white;
    margin-bottom: 40px;
}


.footer__block-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    margin-bottom: 55px;
}

.footer__text-data {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: white;
}

.footer__item-text {
    font-size: inherit;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
}

.footer_item-site {
    color: var(--active_color);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    opacity: 100%;
    transition: all .2s ease-in-out;
    margin-bottom: 18px;
}

.footer_item-site:hover {
    opacity: 80%;
}